SPORTMONKS_API_TOKEN=coloque_seu_token_aqui
VITE_SPORTMONKS_WORLD_CUP_LEAGUE_ID=732
VITE_SPORTMONKS_WORLD_CUP_SEASON_ID=
APISPORT_KEY=coloque_sua_chave_api_sports_aqui
VITE_APISPORTS_WORLD_CUP_LEAGUE_ID=1
VITE_APISPORTS_WORLD_CUP_SEASON=2026
VITE_APISPORTS_TIMEZONE=America/Sao_Paulo
